body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

.midpara {
  padding: 0px 400px 0px 400px;
}

h1 {
  text-align: center;
}

.home a {
  list-style: none;
  display: inline-flex;
  margin: 10px 0px;
  background: #928f8f;
  border: none;
  padding: 3px 10px;
}
#details {
  display: flex;
  justify-content: space-around;
  background: red;
}